<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Car Rental</title>
        <meta name="description" content="Book your vehicle at your own pace">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <section class="header">
    	<nav class="navigation">
    		<ul class="nav-menu">
    			<li class="nav-items"><a href="/offers">Offers</a></li>
                <li class="nav-items"><a href="/models">Cars</a></li>
    			<% if(!loggedIn) {%><li class="nav-items login-btn"><a href="/login">Login</a></li><%}%>
    			<% if(!loggedIn) {%><li class="nav-items signup-btn"><a href="/signup">Signup</a></li><%} %>
                <% if(loggedIn) {%><li class="nav-items signup-btn"><a href="/logout">Logout</a></li><% }%>
    		</ul>
    	</nav>
    </section>
    <body>
    	<div class="container">
       