<%- include partials/header.ejs %>
<div>
	<h1>Forgot Password</h1>
	<% if(displayMessage) {%>
	<p><%= displayMessage%></p>
	<%}%>
	<form action="/forgotPassword" method="POST">
		<label for="email">Email</label>
		<input type="text" name="email" id="email" required>
		<label for="password">Password</label>
		<input type="password" name="password" id="password" autocomplete="off" required>
		<button type="submit">Change Password</button>
	</form>

</div>
<%- include partials/footer.ejs %>