<% include partials/header %>
<h1 class="company-name">Rent a Car</h1>
<section class="book-now">
	<form action="/book" class="book-form" method="POST">
		<fieldset>
			<legend>Book now</legend>
			<!-- <input type="text" id="pick-up-location" name="location" placeholder="Enter your pickup location" autocomplete="off"> -->
			<input type="text" list="datalist" name = "pickUpLocation" autocomplete="off"> 
			<datalist id="datalist"> 
				<% for(let i of location) {%>
				<option value="<%= i.displayName%>"></option> 
				<% }%> 
				<!-- <option value="Marathahalli"></option> 
				<option value="Indhira Nagar "></option> 
				<option value="Koramangala"></option>  -->
			</datalist> 
			<input type="date" id="pick-up-date" name="startDate">
			<select name="duration">
			  <option value="1">1 month</option>
			  <option value="2">2 months</option>
			  <option value="3">3 months</option>
			  <option value="4">4 months</option>
			</select>
			<button class="submit">Check Cars</button>
		</fieldset>
	</form>
</section>
<h3 class="desc"></h3>
<% include partials/footer %>