<%- include partials/header.ejs %>
<div>
	<form action="/signup" method="POST">
		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName">
		<label for="lastName">Last Name</label>
		<input type="text" name="lastName" id="lastName">
		<label for="dateOfBirth">Date of Birth</label>
		<input type="date" id="dateOfBirth" name="dateOfBirth">
		<label for="email">Email</label>
		<input type="text" name="email" id="email">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" autocomplete="off">
		<label for="confirmPassword">Confirm Password</label>
		<input type="password" name="confirmPassword" id="confirmPassword" autocomplete="off">
		<button type="submit">SignUp</button>
	</form>

</div>
<%- include partials/footer.ejs %>